@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

:root {
    --firstColor: #F5E5DD;
    --secondColor: #15354a;
    --thirdColor: #9a8759;
    --fourthColor: #a2d1ea;
    --fifthColor: #c98768;
    --sixthColor: white;
}

.porto {
    margin-top: 70px;
}

.switch {
    --firstColor: #15354a;
    --secondColor: #F5E5DD;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--firstColor);
    transition: 3s ease;
}

.header {
    position: fixed;
    background: var(--firstColor);
    transition: 3s ease;
    z-index: 9999;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
    /* !! */
    z-index: 222;
}

.logo {
    font-size: 30px;
    color: var(--secondColor);
    font-weight: 500;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

.logo b {
    color: var(--fifthColor);
    font-family: 'Great Vibes', cursive;
}

.logo a {
    font-size: small;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

ul {
    display: flex;
    list-style: none;
    justify-content: right;
    flex: 1;
    margin-right: 100px;
}

ul li {
    margin: 0 20px;
}

ul li a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1;
    color: var(--secondColor);
    transition: 0.3s ease;
}

ul li a:hover {
    color: var(--fifthColor);
}

#menuPorto{
    color: var(--fifthColor);
} 

.footer {
    position: relative;
    width: 100%;
    background: var(--secondColor);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--firstColor);
    transition: 3s ease;
}

.footer a,
p {
    font-size: 13px;
    text-decoration: none;
    color: var(--firstColor);
}

.footer a:hover {
    color: var(--fourthColor);
}

.footer .row {
    display: flex;
    margin: 10px 40px 10px 40px;
}

.location,
.portofolio,
.contact {
    color: var(--fifthColor);
}

.portofolio,
.contact {
    margin-left: 50px;
}

.portofolio a {
    display: block;
}

.socialMedia {
    margin-left: 40px;
}

.socialMedia a {
    color: var(--thirdColor);
    margin-right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.socialMedia a:hover {
    color: var(--fourthColor);
    font-size: 1.7em;
}

.screenMode {
    position: relative;
}

.screenMode .fa {
    position: absolute;
    color: var(--secondColor);
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.fa-sun {
    display: none;
}

.switch .fa-sun {
    display: block;
}

.switch .fa-moon {
    display: block;
    color: rgba(128, 128, 128, 0);
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--fifthColor);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#top a{
    text-decoration: none;
    color: white;
}

.porto {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('mappp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 3s ease;
    overflow: hidden;
}

.porto:hover{
    transform: scale(1.05);
    font-size: 0;
}

.porto h1 {
    margin-top: 0;
  }
  

.porto img {
    position: absolute;
    border-radius: 50%;
    border-width: 0;
    max-width: 25%;
    max-height: 25%;
    transition: 1s ease;
    box-shadow: 0px 0px 30px 5px var(--secondColor);
    z-index: 1;
}

.porto img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 10px var(--firstColor);
    transform: translate3d(10px, 40px, 20px) scale(1.2);
}

#cashier {
    left: 10%;
    top: 25%;
    /* left: 200px;
    top: 100px; */
}

#korean {
    right: 20%;
    bottom: 15%;
    /* right: 300px;
    bottom: 100px; */
}

#leprospere {
    left: 35%;
    bottom: 35%;
    /* left: 500px;
    bottom: 250px; */
}

#powtaytow {
    bottom: 10%;
    left: 20%;
    /* bottom: 100px;
    left: 150px; */
}

#pacman {
    right: 10%;
    top: 30%;
    /* right: 150px;
    top: 200px; */
}

.textPorto {
    position: absolute;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.textPorto h1 {
    font-size: 1000%;
    font-family: 'Great Vibes', cursive;
    color: var(--secondColor);
    text-shadow: 3px 3px 1px var(--sixthColor);
    transition: 3s ease;
}

.textPorto h2{
    color: var(--fifthColor);
    -webkit-text-stroke-color: var(--firstColor);
    -webkit-text-stroke-width: 1px;
    font-size: 200%;
    font-weight: 700;
    transition: 3s ease;
}

.header .menuSmall {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .textPorto h1 {
        font-size: 600%;
    }

    .porto img {
        max-width: 20%;
        max-height: 20%;
    }
}

@media only screen and (max-width: 1050px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.5rem;
        display: block;
    }

    .header .menuSmall {
        display: flex;
    }

    .screenMode {
        position: absolute;
        top: 32px;
        right: 25px;
    }

    .screenMode .fa {
        font-size: 25px;
    }

    .menu {
        display: none;
    }

    .menuSmall i {
        cursor: pointer;
        color: var(--secondColor);
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .menuSmall ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .menuSmall ul li {
        display: block;
        padding: 10px;
    }

    .menuSmall ul li a {
        display: block;
        color: #333;
        font-size: 16px;
        text-decoration: none;
    }

    .menuSmall.active ul {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--firstColor);
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    nav ul.active {
        display: flex;
    }

    .textAbout {
        width: 100%;
        display: inline;
    }

    .imgAbout {
        display: inline;
        width: 100%;
        bottom: 0;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 80px;
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 700px) {
    .row p {
        font-size: 15px;
    }

    .textFooter a, .textFooter p {
        font-size: 10px;;
    }
}